{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>З поверненням!</h1>
        <div class="post-card">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Увійти</button>
            </form>
            <div class="auth-links">
                Ще немає акаунта? <a href="{% url 'register' %}">Створити</a>
            </div>
    </div>
</body>
</html>